 body{
     background-color: skyblue;
 }
 .dropdown-item{color:white;}
li{color:white;}
.card { margin-bottom:50px;}
 a {
               text-decoration:none;
               color:black;
              }
